@font-face {
    font-family: "Be-Vietnam-Pro-Regular";
    src: url("/public/fonts/Be-Vietnam-Pro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Be-Vietnam-Pro-Medium";
    src: url("/public/fonts/Be-Vietnam-Pro-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Be-Vietnam-Pro-Semi-Bold";
    src: url("/public/fonts/Be-Vietnam-Pro-Semi-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Be-Vietnam-Pro-Bold";
    src: url("/public/fonts/Be-Vietnam-Pro-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
