@mixin vietnam-regular {
    font-family: "Be-Vietnam-Pro-Regular", sans-serif;
}

@mixin vietnam-medium {
    font-family: "Be-Vietnam-Pro-Medium", sans-serif;
}

@mixin vietnam-semi-bold {
    font-family: "Be-Vietnam-Pro-Semi-Bold", sans-serif;
}

@mixin vietnam-bold {
    font-family: "Be-Vietnam-Pro-Bold", sans-serif;
}

@mixin scrollbar {
    scrollbar-color: #2769ff #303240;
    scrollbar-width: thin;

    &::-moz-scrollbar {
        width: 7px;
        height: 7px;
        border-radius: 10px;
    }

    &::-moz-scrollbar-thumb {
        background-color: #2769ff;
        width: 7px;
        height: 7px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: #303240;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #2769ff;
        width: 7px;
        height: 7px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #303240;
    }
}

@mixin scrollbar-x-hidden {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;

    &::-moz-scrollbar {
        height: 0;
        border-radius: 0;
    }

    ::-moz-scrollbar-thumb {
        background-color: transparent;
        height: 0px;
        border-radius: 0;
    }

    &::-webkit-scrollbar {
        height: 0px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        height: 0px;
        border-radius: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

@mixin modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    transition: $transition;
}

@mixin container {
    width: 1840px;
    margin: 0 auto;

    @media screen and (max-width: 1920px) {
        width: 1170px;
    }

    @media screen and (max-width: 1440px) {
        width: 100%;
        padding: 0 16px;
    }
}
